<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net461" />
  <package id="NuGet.Common" version="3.4.0-beta-658" targetFramework="net461" />
  <package id="NuGet.Configuration" version="3.4.0-beta-658" targetFramework="net461" />
  <package id="NuGet.Frameworks" version="3.4.0-beta-658" targetFramework="net461" />
  <package id="NuGet.Logging" version="3.4.0-beta-658" targetFramework="net461" />
  <package id="NuGet.Packaging" version="3.4.0-beta-658" targetFramework="net461" />
  <package id="NuGet.Packaging.Core" version="3.4.0-beta-658" targetFramework="net461" />
  <package id="NuGet.Packaging.Core.Types" version="3.4.0-beta-658" targetFramework="net461" />
  <package id="NuGet.Protocol.Core.Types" version="3.4.0-beta-658" targetFramework="net461" />
  <package id="NuGet.Protocol.Core.v3" version="3.4.0-beta-658" targetFramework="net461" />
  <package id="NuGet.Versioning" version="3.4.0-beta-658" targetFramework="net461" />
</packages>